STRIPE_SECRET_KEY=sk_test_your_secret_key_here
STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key_here

# Admin user credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeMe123!

# Email service credentials
EMAIL_USERNAME=your_smtp_username
EMAIL_PASSWORD=your_smtp_password

# Cloudinary
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>

